body {
    background: linear-gradient(to right, black, purple, black);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/*GERAL*/
#tela-geral {
    margin-top: 5em;
    border: 3px solid black;
    border-radius: 10px;
    width: 35vh;
    padding: 15px;
    background-color: rgba(102, 51, 153, 0.6);
}

/*NOME DA CALCULADORA*/
#link-github {
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}


/*RESULTADO*/
#resultado {
    margin-bottom: 5px;
}

#tela-resultado {
    background-color: lightpink;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    height: auto;
    text-align: right;
}

/*OPERAÇÕES*/
#operacoes {
    font-family: 'Titan One', cursive;
    margin-bottom: 5px;
    border-top: 5px groove darkorchid;
    border-bottom: 5px groove orchid;
    border-radius: 10px;
    padding: 5px;
}

.btn-operacao {
    font-size: 1.5em;
    margin: 2px;
    color: black;
    background-color: lightpink;
    border-radius: 10px;

}

/*NUMEROS*/
#numeros {
    font-family: 'Share Tech Mono', monospace;

}

.linha-num {}

.btn-num {
    font-size: 2em;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.btn-num:hover {
    background-color: darkorchid;
    color: black;
    border: 2px solid white;
}

#btn-limpar,
#btn-igual {
    background-color: lightpink;
    border: 2px outset black;
    border-style: outset;
    color: black;
}

/*ESTILOS*/
#titulo-estilo{
    font-family: Titan One;
    color: white;
}

#alterar-estilo, #titulo-estilo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.estilos{
    margin: 5px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

/*BOTÕES DE ESTILO*/
#btn-padrao{
    background-color: royalblue;
}
#btn-vermelho{
    background-color: red;
}
#btn-verde{
    background-color: green;
}
#btn-roxo{
    background-color: purple;
    box-shadow: 0px 0px 10px 5px white;
}
#btn-preto{
    background-color: black;
}
#btn-contraste{
    background-color: black;
    color: yellow;
    border: 2px solid white;
}
